# Required
AWS_REGION=ap-northeast-2
ECS_CLUSTER=study-fargate-cluster
ECS_SERVICE=study-fargate-service
TASK_FAMILY=study-fargate-task
ECR_REPO=be-fastapi-hello
CONTAINER_NAME=api
APP_DIR=./BE-fastapi

# Optional
CONTAINER_PORT=8000
CPU=256
MEMORY=512
# EXECUTION_ROLE_ARN=arn:aws:iam::<ACCOUNT_ID>:role/ecsTaskExecutionRole
# TASK_ROLE_ARN=arn:aws:iam::<ACCOUNT_ID>:role/yourTaskRole
# IMAGE_TAG=manual-tag
